* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.btn {
  padding: 10px;
  background: #716690;
  color: white;
  border: none;
}

.form-btn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px 0px 5px;
  cursor: pointer;
}

.title-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #716690;
}

.title-section img {
  margin-right: 10px;
}

input {
  border: none;
}

.breadcrumb {
  display: flex;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  list-style: none;
}

.white-link {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
  font-size: 14px;
  cursor: pointer;
}

.black-link {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
  font-size: 14px;
  cursor: pointer;
}

.grey-link {
  color: #bebebe;
  text-decoration: none;
  border-bottom: 1px solid #bebebe;
  font-size: 12px;
  cursor: pointer;
}

.blue-link {
  color: #0000FF;
  text-decoration: none;
  border-bottom: 1px dotted #0000FF;
}

.link-as-text {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header {
  overflow: hidden;
}

.header-container {
  background: url("/images/header.jpg") no-repeat;
  position: relative;
}

.header-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: url("/images/header-right.jpg");
  overflow: hidden;
}

.header-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: url("/images/header-left.jpg");
  overflow: hidden;
}

.header-top {
  padding-top: 35px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.header-top .logo {
  padding-left: 40px;
}

.header-contact-info {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-contact-info .phone {
  margin-left: 140px;
  margin-right: 85px;
  padding-left: 40px;
  position: relative;
  font-size: 30px;
  font-weight: bold;
}

.header-contact-info .phone span {
  display: inline-block;
  transform: translateY(-50%);
  font-size: 18px;
  color: #887C4E;
}

.header-contact-info .phone::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: url("/images/icons/phone.png");
}

.header-contact-info .street {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  padding-left: 40px;
}

.header-contact-info .street span {
  font-size: 13px;
  font-weight: normal;
  display: block;
}

.header-contact-info .street span a {
  color: black;
}

.header-contact-info .street::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 35px;
  height: 35px;
  background: url("/images/icons/mark-map.png");
}

.header-menu {
  padding: 10px 20px;
}

.header-menu .nav-item {
  list-style: none;
  margin-right: 50px;
}

.header-menu .nav-item a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.header-menu .nav-item:nth-child(3) {
  margin-left: 40px;
}

.header-menu .nav-items {
  display: flex;
}

.wrap-message {
  display: flex;
  flex-direction: column;
}

.wrap-message .message::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/images/icons/message.png");
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.wrap-message .dialog::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/images/icons/dialog.png");
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.wrap-message .realtor::before,
.wrap-message .mortgage::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: url("/images/icons/pencil.png");
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.message-item {
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
}

#filter-section {
  padding-top: 80px;
  padding-bottom: 40px;
  background: url("/images/slider-city.jpg") no-repeat center;
  background-size: cover;
}

.section-title {
  color: #716690;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 10px;
  border-left: 3px solid #C8B883;
  margin-bottom: 40px;
}

.section-title span {
  display: block;
  line-height: 28px;
  margin-bottom: 10px;
}

.filter {
  padding: 25px;
  background: rgba(182, 182, 182, 0.6);
}

.filter-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.filter-header {
  display: flex;
  justify-content: space-between;
}

.filter-header .all-object span {
  font-size: 18px;
  font-weight: bold;
}

.filter-header .rol-up {
  cursor: pointer;
}

.filter-body {
  margin-top: 30px;
}

.filter-bottom {
  display: flex;
  justify-content: space-between;
}

.filter-bottom .advanced-filter-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-btn span {
  font-weight: bold;
}

.filter .numbers-room {
  margin-right: 80px;
}

.filter .numbers-room-item {
  display: block;
  width: 40px;
  padding: 10px 0;
  margin-right: 3px;
  text-align: center;
  background: white;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.filter .numbers-room-items {
  display: flex;
}

.filter .numbers-room-item:hover {
  padding: 6px 0;
  border: 2px solid #C8B883;
}

.filter .numbers-room-item_active {
  padding-top: 8px;
  border-top: 2px solid #887C4E;
  background: #C8B883;
}

.filter .street {
  margin-right: 80px;
  position: relative;
}

.filter .street #street {
  padding: 11px 90px 11px 40px;
}

.filter .street .wrap-input-street {
  position: relative;
}

.filter .street .wrap-input-street::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("/images/icons/search.png");
  left: 0;
  z-index: 1;
}

.filter .street::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background: #bebebe;
  bottom: 0;
  left: -40px;
}

.filter .street::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background: #bebebe;
  bottom: 0;
  right: -40px;
}

.filter .district #district {
  padding: 11px 25px 11px 40px;
}

.filter .district .wrap-input-district {
  position: relative;
}

.filter .district .wrap-input-district::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("/images/icons/burger.png");
  left: 0;
  z-index: 1;
}

.filter .wall-materials {
  padding-bottom: 10px;
}

.filter .wall-materials .wall-materials-item {
  display: flex;
  align-items: center;
  padding: 2px 15px 2px 2px;
  margin-right: 15px;
  background: white;
}

.filter .wall-materials .wall-materials-items {
  display: flex;
}

.filter .wall-materials .wall-materials-item:hover {
  padding: 0px 13px 0px 0px;
  border: 2px solid #C8B883;
}

.filter .wall-materials .wall-materials-item_active {
  padding-top: 0;
  border-top: 2px solid #887C4E;
  background: #C8B883;
}

.filter .advanced-filter {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #bebebe;
}

.filter .advanced-filter .price {
  margin-right: 80px;
}

.filter .advanced-filter .price-title {
  margin-right: 30px;
}

.filter .advanced-filter .price-wrap {
  display: flex;
  margin-bottom: 25px;
}

.filter .advanced-filter .price-min,
.filter .advanced-filter .price-max {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-top: 10px;
}

.filter .advanced-filter .price-min label,
.filter .advanced-filter .price-max label {
  margin-right: 5px;
}

.filter .advanced-filter .price-min-input,
.filter .advanced-filter .price-max-input {
  width: 90px;
  padding: 11px 7px;
}

.filter .advanced-filter .area {
  position: relative;
}

.filter .advanced-filter .area-title {
  margin-right: 30px;
}

.filter .advanced-filter .area-wrap {
  display: flex;
  margin-bottom: 25px;
}

.filter .advanced-filter .area-min,
.filter .advanced-filter .area-max {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-top: 10px;
}

.filter .advanced-filter .area-min label,
.filter .advanced-filter .area-max label {
  margin-right: 5px;
}

.filter .advanced-filter .area-min-input,
.filter .advanced-filter .area-max-input {
  width: 90px;
  padding: 11px 7px;
}

.filter .advanced-filter .area::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  background: #bebebe;
  top: 50%;
  left: -40px;
  transform: translateY(-25%);
}

.wrap-filters {
  display: flex;
  margin-bottom: 40px;
}

.tab-items {
  display: flex;
}

.tab-item {
  padding: 15px 20px;
  margin-right: 3px;
  margin-bottom: 3px;
  color: black;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.tab-item_active {
  color: white;
  background: #716690;
}

.ui-slider-horizontal {
  height: 5px;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #716690;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
}

.ui-slider .ui-slider-range {
  background: #716690;
  border: 1px solid #716690;
}

.news {
  background: #f3f3f3;
}

.news .container {
  padding: 40px 0px;
  border-bottom: 1px solid #bebebe;
}

.news .topics-items {
  display: flex;
  align-items: center;
}

.news .topics-item {
  list-style: none;
  margin-right: 25px;
  font-size: 12px;
}

.news .topics-item_active {
  padding: 10px;
  background: #e8e8e8;
}

.news .topics-item_active .black-link {
  border: none;
}

.news .wrap-topics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.news-list {
  display: flex;
  margin-bottom: 20px;
}

.news-list-item {
  width: 25%;
  margin-right: 25px;
}

.news-list-item .topic {
  position: relative;
  font-size: 12px;
  color: #C8B883;
  padding-left: 20px;
  margin-bottom: 10px;
}

.news-list-item .news-company::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/images/icons/news-company.png");
  top: -50%;
  transform: translateX(-90%);
}

.news-list-item .news-market::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/images/icons/news-market.png");
  top: -50%;
  transform: translateX(-90%);
}

.news-list-item .news-interview::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/images/icons/news-interview.png");
  top: -50%;
  transform: translateX(-90%);
}

.news-list-item .news-about-us::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("/images/icons/news-about-us.png");
  top: -50%;
  transform: translateX(-90%);
}

.news-list-item .cover {
  margin-bottom: 15px;
  width: 220px;
  height: 150px;
}

.news-list-item .cover img {
  width: 100%;
  height: 100%;
}

.news-list-item .date {
  margin-bottom: 12px;
  font-size: 12px;
}

.news-list-item .title {
  font-size: 12px;
}

.news .archive-btn {
  width: 20%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.news .archive-btn img {
  margin-right: 7px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-input {
  height: 40px;
  width: 140px;
  border: 2px solid #bebebe;
  padding: 5px;
  margin-right: 25px;
  background: #f3f3f3;
}

.about-company {
  padding: 60px 0px;
  position: relative;
  background: #f3f3f3;
}

.about-company .house {
  position: absolute;
  left: 0;
  z-index: 1;
}

.about-company .container {
  position: relative;
  z-index: 2;
  padding-left: 350px;
}

.about-company p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 10px;
}

.about-company .section-title {
  color: #716690;
  font-size: 24px;
  padding: unset;
  border: unset;
  text-transform: unset;
  margin-bottom: 20px;
}

.about-company-btn {
  width: 150px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.about-company-btn img {
  margin-right: 7px;
}

footer {
  background: #ebeae9;
  padding-top: 40px;
}

footer .footer-bottom {
  background: #716690;
  color: white;
  padding: 6px 0;
}

footer .footer-bottom .white-link {
  font-size: 16px;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
}

footer .footer-content .wrap {
  padding-top: 20px;
}

footer .footer-contact {
  padding-top: 40px;
  font-size: 12px;
}

footer .footer-contact div {
  margin-bottom: 5px;
}

footer .footer-contact .phone a {
  color: black;
  text-decoration: unset;
}

footer .footer-contact .name-company {
  font-weight: bold;
}

footer .footer-contact .social-links {
  display: flex;
  margin-top: 40px;
}

footer .footer-contact .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background: #dedddd;
}

footer .footer-contact .social-link:hover {
  background: #506093;
}

.slider {
  width: 470px;
  padding: 25px 5px 25px 25px;
  background: #dedddd;
}

.slider-wrap {
  position: relative;
}

.slider img {
  margin-right: 20px;
  height: 60px;
  width: 125px;
}

.slider-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bebebe;
}

.slider-header .phone {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 24px;
  font-weight: bold;
}

.slider-header .phone a {
  color: #716690;
  text-decoration: none;
}

.slider-header .email {
  display: flex;
  align-items: center;
}

.prev {
  cursor: pointer;
}

.prev::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: 7px solid transparent;
  border-right: 7px solid black;
  z-index: 3;
}

.prev:hover:after {
  border-right: 7px solid #716690;
}

.next {
  cursor: pointer;
}

.next::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: 7px solid transparent;
  border-left: 7px solid black;
  z-index: 3;
}

.next:hover:after {
  border-left: 7px solid #716690;
}

.popup-wrap {
  display: none;
}

.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 184, 131, 0.6);
  z-index: 10;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 20px;
  background: #f3f3f3;
  max-width: 486px;
  border: 3px solid #716690;
  z-index: 11;
}

.popup button {
  margin-left: 100%;
  transform: translateX(-100%);
}

.popup p {
  font-size: 12px;
  margin-bottom: 20px;
}

.popup .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #716690;
}

.popup .title .cross {
  font-size: 24px;
  color: #716690;
  cursor: pointer;
}

.popup .form-groups {
  padding-top: 40px;
  border-top: 1px solid #d8d8d8;
}

.popup .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popup .form-group label {
  font-size: 12px;
  font-weight: bold;
}

.popup .form-group label sup {
  color: red;
}

.popup .form-group input,
.popup .form-group textarea {
  padding: 10px 5px;
  width: 240px;
  border: 1px solid #d8d8d8;
}

.popup .form-group:nth-child(4) {
  align-items: start;
}

.popup .form-group:nth-child(6) {
  margin-bottom: 0;
}

.popup #message {
  resize: none;
}

.rating {
  padding-bottom: 45px;
  border-bottom: 1px solid #d8d8d8;
}

.ratings-group {
  margin-top: 25px;
}

.rating-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dfdfdf;
  border-radius: 20px;
  height: 20px;
  width: 320px;
}

.rating-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  cursor: pointer;
}

.rating-item .dot {
  display: inline-block;
  margin: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #b4b4b4;
}

.rating-item_active {
  position: relative;
}

.rating-item_active .dot {
  position: relative;
  margin: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #716690;
}

.rating-item_active .dot:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #dfdfdf;
}

.rating-item_active::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background: url("/images/smile-feedback/bg-smile.png");
  top: -55px;
  left: -18px;
  z-index: 10;
}

.rating-item_active .smile {
  position: absolute;
  height: 40px;
  width: 40px;
  background: url("/images/smile-feedback/3.png");
  top: -42px;
  left: -4px;
  z-index: 11;
}

.area-drag {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 240px;
  border: 1px solid #d8d8d8;
}

.area-drag .draggable {
  display: inline-block;
}

.help-drag {
  margin-bottom: 20px;
  font-size: 12px;
  color: #adadad;
  text-align: right;
}

.contact-section {
  padding: 40px 0px 20px 0px;
  background: #ebeae9;
}

.contact-section .contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  max-width: 270px;
  text-transform: uppercase;
  font-size: 14px;
}

.contact-section .contact-btn img {
  margin-right: 10px;
}

.contact-section .title-section {
  margin-top: 40px;
}

.contact-info {
  margin-right: 80px;
  margin-bottom: 40px;
}

.contact-info-wrap {
  display: flex;
}

.contact-info .address,
.contact-info .phone,
.contact-info .email {
  display: flex;
  align-items: center;
  padding: 10px 80px 10px 0px;
}

.contact-info .address a,
.contact-info .phone a,
.contact-info .email a {
  margin-left: 3px;
}

.contact-info .phone {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: #716690;
}

